/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2021, 3:50:47 PM
    Author     : NAM
*/

form[id=editBook] {
  border: 3px solid #f1f1f1;
  padding: 20px 20px;
  margin-left: 300px;
  display: inline-block;
}
form[id=editBook] div{
    margin: 5px;
}
h1{
    margin-left: 100px;
}
/* Full-width inputs */
input[type=text][name=email], input[type=password] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


